* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .Logo {
        display: none;
    }
}

#content {
    height: 100vh;
    
}

#navbar {
    background-color: rgba(15,15,15);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 7vw;
    margin-right: 0 !important;
    z-index: 2;
    height: 120vh;
}

.navbar-element {
    color: white;
    text-decoration: none;    
    writing-mode: vertical-rl;
    word-spacing: 0.9vh;
    padding: 3vh 3vw;
    font-size: 0.9em;
    font-weight: 900;
}

.navbar-element-div {
    
    width: 100%;
      
}

.active {
    border-left: 2px red solid;
}

.image {
    width: 100%;
    height: auto;
}

.image-div {
    max-height: 100px;
    width: auto;
    
}

.para {
    font-size: 10vh;
}

.heading {
    font-size: 20vh;
    font-weight: 700;
    letter-spacing: 0px;
}

.subhead {
    font-size: 10vh;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .heading {
        font-size: 10vw;
    }
    
    .subhead {
        font-size: 5vw;
    }
}